body {
    padding-top: 56px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    padding-top: 1.25rem;
    background-color: #3DB6E3;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar-container .logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 53px;
}

.logo img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.app-name {
    font-size: 38px;
    margin: 0;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.app-name:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.navbar-container ul {
    display: flex;
    justify-self: start;
    align-items: center;
    gap: 24px;
    margin: 0;
}

.navbar-container ul li{
    list-style: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-left: 0;
    margin-top: 5px;
}

.navbar-container ul li a{
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.navbar-container ul li a:hover{
    color: #DB00A3;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.login{
    background-color: #150097;
    position: relative;
    padding: 10px 20px; 
    border: none; 
    border-radius: 14px;
    color: white;
    font-size: 16px; 
    cursor: pointer; 
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
}

.login:hover {
    background-color: #DB00A3 ; 
    transform: scale(1.1); 
    transition: 0.3s; 
}

.register{
    background-color: #150097;
    position: relative;
    padding: 10px 20px;
    border: none; 
    border-radius: 14px; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    font-family: "Roboto", sans-serif;
}

.register:hover {
    background-color: #DB00A3 ; 
    transform: scale(1.1); 
    transition: 0.3s; 
}

.logout{
    background-color: #150097;
    position: relative;
    padding: 10px 20px;
    border: none; 
    border-radius: 14px; 
    color: white;
    font-size: 16px; 
    cursor: pointer; 
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    margin-left: 400px; 
}

.logout:hover {
    background-color: #DB00A3 ; 
    transform: scale(1.1); 
    transition: 0.3s; 
}

.container {
    display: flex;
    justify-content: space-between;
}

.intro {
    margin-top: 150px;
    margin-right: 20px; 
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 100%;
    text-align: justify;
    width: 60%;
    -webkit-animation: scale-up-top 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-top 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.texto {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    color: #858585;
}

@keyframes scale-up-top {
    0% {
      transform: scale(0);
      transform-origin: center top;
      opacity: 0;
    }
    100% {
      transform: scale(1);
      transform-origin: center top;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes scale-up-top {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: center top;
      transform-origin: center top;
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center top;
      transform-origin: center top;
      opacity: 1;
    }
  }

.cuaderno img {
    width: 300px;
    height: auto;
    margin-top: 120px;
    -webkit-animation: scale-up-top 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-top 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.empezar{
    background-color: #150097  ;
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
}

.empezar:hover {
    background-color: #DB00A3; 
    transform: scale(1.1); 
    transition: 0.3s;
}

.add-container {
    display: flex;
    justify-content: start;
}

.add{
    background-color: #150097;
    position: relative;
    padding: 10px 20px; /* Añade un relleno al botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 14px; /* Añade esquinas redondeadas al botón */
    color: white; /* Establece el color del texto del botón */
    font-size: 16px; /* Establece el tamaño del texto del botón */
    cursor: pointer; /* Establece el cursor del ratón al pasar por encima del botón */
    font-family: "Roboto", sans-serif;
    top: 50px; /* Coloca el botón en la esquina superior derecha */
}

