{% extends 'to_do/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<div class="container">
    <div class="intro">
        <h1 class="title">Planifica tu día,</h1>
        <h1 class="title">haz que cada momento cuente</h1>
        <h6 class="texto">Organiza tu día eficientemente con nuestra pagina web. Gestiona tareas, planifica eventos y maximiza tu productividad fácilmente.</h6>
        <div class="btn-empezar">
            <a href="{% url 'login' %}">
                <button class="empezar">Empezar</button>
            </a>
        </div>
        
    </div>
    <div class="task">
        <img src="{% static 'images/task.png' %}" alt="Hero">
    </div>
</div>
{% endblock content %}